* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  color: brown;
  font-family: 'Exo 2', sans-serif;
  padding: 0.5em;
  height: 1px;
}

#main {
  position: relative;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

#header-img {
  margin: auto;
}

nav>ul {
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 600px;
  margin-top: -220px;
  font-size: 30;
  color: orange;
  float: right;
}

#heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 257px;
  background-color: #eee;
  width: 100%;
  margin-left: px;
}

#heading>h1 {
  margin-bottom: 20px;
  word-wrap: break-word;
}

#heading input[type='email'] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}

#heading input[type='submit'] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
}

#heading input[type='submit']:hover {
  background-color: orange;
  transition: background-color 1s;
}

@media (max-width: 650px) {
  #heading {
    margin-top: 120px;
  }
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: #eee;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

#Characteristics .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: darkorange;
}

@media (max-width: 550px) {
  #Type .icon {
    display: none;
  }
}

#Characteristics .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

.grid {
  display: flex;
}

#video {
  display: block;
  margin: auto;
}

@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }

  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}

.product>.level {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

#how-it-works {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#Price {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}